Repository Okoteka/oko-deploy-ci-image: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_ansible, build_protobuf, build_golang_1_24_6

build_ansible:
  stage: infrastructure
  before_script:
  - "if [ -f \"$INTERNAL_CA\" ]; then\n  mv \"$INTERNAL_CA\" internal.crt\nelif [ -n \"$INTERNAL_CA\" ]; then\n  echo \"$INTERNAL_CA\" > internal.crt\nelse\n  echo \"ERROR: Required variable INTERNAL_CA is not defined\"\n  exit 1\nfi\n"
  ...

build_protobuf:
  stage: infrastructure
  before_script:
  - "if [ -f \"$INTERNAL_CA\" ]; then\n  mv \"$INTERNAL_CA\" internal.crt\nelif [ -n \"$INTERNAL_CA\" ]; then\n  echo \"$INTERNAL_CA\" > internal.crt\nelse\n  echo \"ERROR: Required variable INTERNAL_CA is not defined\"\n  exit 1\nfi\n"
  ...

build_golang_1_24_6:
  stage: infrastructure
  before_script:
  - "if [ -f \"$INTERNAL_CA\" ]; then\n  mv \"$INTERNAL_CA\" internal.crt\nelif [ -n \"$INTERNAL_CA\" ]; then\n  echo \"$INTERNAL_CA\" > internal.crt\nelse\n  echo \"ERROR: Required variable INTERNAL_CA is not defined\"\n  exit 1\nfi\n"
  ...

Change golang dir
  .gitlab-ci.yml
  go/1.24.6/Dockerfile
Due: build_ansible, build_protobuf, build_golang_1_24_6

Update README.md
  README.md
Due: none

Add git, openssh, know_hosts to golang image
  go/1.24.6/Dockerfile
Due: none

Remove mount ssh agent from replace git config url
  go/1.24.6/Dockerfile
Due: none

Add rsync to ansible image
  ansible/Dockerfile
Due: build_ansible

Add golangci
  go/1.24.6/Dockerfile
Due: none

Revert "Add golangci"
  go/1.24.6/Dockerfile
Due: none

Reapply "Add golangci"
  go/1.24.6/Dockerfile
Due: none

Bump golang version to 1.25.7
  .gitlab-ci.yml
  README.md
  go/1.25.7/Dockerfile
Due: build_ansible, build_protobuf, build_golang_1_24_6

Bump golang version to 1.25.7
  protobuf/Dockerfile
Due: build_protobuf

Move task bin to /usr/bin
  go/1.25.7/Dockerfile
Due: none

Install taskfile from go
  go/1.25.7/Dockerfile
Due: none

Add gcc compiler
  go/1.25.7/Dockerfile
Due: none

Add memu-downloader image
  .gitlab-ci.yml
  go/memu-downloader-1.25.7/Dockerfile
Due: build_ansible, build_protobuf, build_golang_1_24_6

Add memu-downloader image
  .gitlab-ci.yml
  go/1.25.7-memu-downloader/Dockerfile
  go/memu-downloader-1.25.7/Dockerfile
Due: build_ansible, build_protobuf, build_golang_1_24_6

Add memu-downloader image
  .gitlab-ci.yml
Due: build_ansible, build_protobuf, build_golang_1_24_6

Add memu-downloader image
  go/1.25.7-memu-downloader/Dockerfile
Due: none

Path conditions:
  build_ansible: any of: ansible/Dockerfile, .gitlab-ci.yml
  build_protobuf: any of: protobuf/Dockerfile, .gitlab-ci.yml
  build_golang_1_24_6: any of: golang-1.24.6/Dockerfile, .gitlab-ci.yml
